{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Personal webpage">
  <meta name="author" content="Francisco José Rodríguez Bogado">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MNSQKRC');</script>
  <!-- End Google Tag Manager -->

  <link type="text/css" href="https://fonts.googleapis.com/css?family=Abril Fatface|Barlow Condensed|Chakra Petch|Montserrat|Raleway" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">

  <link rel="shortcut icon" href="{% static 'mainpage/images/logo.ico' %}" />
  <title>Q-INN</title>

  <!-- CSS -->
  <link href="{% static 'mainpage/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'mainpage/css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'mainpage/css/animate.css" rel="stylesheet' %}">

  <!-- Custom styles CSS -->
  <link href="{% static 'mainpage/css/style.css' %}" rel="stylesheet" media="screen">

  <script src="{% static 'mainpage/js/modernizr.custom.js' %}"></script>

</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MNSQKRC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Preloader -->

  <div id="preloader">
    <div id="status"></div>
  </div>

  <!-- Home start -->

  <section id="home" class="pfblock-image screen-height">
    <div class="home-overlay"></div>
    <div class="intro">
      <div class="start">Developer</div>
      <h1>Francisco José Rodríguez Bogado</h1>
      <div class="start">Free (Libre) Software</div>
    </div>

    <a href="#services">
      <div class="scroll-down">
        <span>
          <i class="fa fa-angle-down fa-2x"></i>
        </span>
      </div>
    </a>
  </section>

  <!-- Home end -->

  <!-- Navigation start -->

  <header class="header">

    <nav class="navbar navbar-custom" role="navigation">

      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://qinn.es">Q inn</a>
        </div>

        <div class="collapse navbar-collapse" id="custom-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#home">Home</a></li>
            <li><a href="#services">About</a></li>
            <li><a href="#portfolio">Stuff</a></li>
            <li><a href="#badges">Badges</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>

      </div><!-- .container -->

    </nav>

  </header>

  <!-- Navigation end -->


  <!-- CallToAction start -->

  <!-- TODO: ¿Y un evento onclick que cambie el fondo aleatorio? -->
  <section class="calltoaction"
           style="background: url({% static 'mainpage/images/backgrounds/' %}{{ random_bg }});
                   background-size: cover;
                   background-position: bottom;
                   height: 480px;
                   opacity: 75%;
                   align-content: center;
                   display: grid;">
    <div class="container-fluid">

      <div class="row">

        <div class="col-md-12 col-lg-12">
          <h2 class="wow slideInRight" data-wow-delay=".1s">Computer Science Technical Engineer</h2>
          <div class="calltoaction-decription wow slideInRight" data-wow-delay=".2s">
            <p>UHU, 2004</p>
            <div>
              <ul class="social-links">
                <li><div title="LinkedIn">
                    <a href="https://www.linkedin.com/in/pqinn/" class="wow fadeInUp" data-wow-delay=".1s" target="_blank"><i class="fab fa-linkedin"></i></a>
                  </div>
                </li>
                <li><div title="GitHub">
                    <a href="https://github.com/pacoqueen" class="wow fadeInUp" data-wow-delay=".2s" target="_blank"><i class="fab fa-github"></i></a>
                  </div>
                </li>
                <li><div title="GitLab">
                    <a href="https://gitlab.com/pacoqueen" class="wow fadeInUp" data-wow-delay=".3s" target="_blank"><i class="fab fa-gitlab"></i></a>
                  </div>
                </li>
                <li><div title="Private GitLab">
                    <a href="https://git.drupalistas.com/Paco" class="wow fadeInUp" data-wow-delay=".4s" target="_blank"><i class="fab fa-gitlab"></i></a>
                  </div>
                </li>
                <li><div title="SourceForge">
                    <a href="https://sourceforge.net/u/pacoqueen/profile/" class="wow fadeInUp" data-wow-delay=".5s" target="_blank"><i class="fas fa-code-branch"></i></a>
                  </div>
                </li>
                <li>
                  <div title="Email">
                  <script type="text/javascript" language="javascript">
                  <!--
                  // Email obfuscator script 2.1 by Tim Williams, University of Arizona
                  // Random encryption key feature coded by Andrew Moulden
                  // This code is freeware provided these four comment lines remain intact
                  // A wizard to generate this code is at http://www.jottings.com/obfuscator/
                  { coded = "zn4WKn@wcbb.mt"
                    key = "kSToV4pcaDHQPv3srnxZA2WUe6G7dtqbhJOC0fmBNyKMwzuEFLRl8g5iXIY91j"
                    shift=coded.length
                    link=""
                    for (i=0; i<coded.length; i++) {
                      if (key.indexOf(coded.charAt(i))==-1) {
                        ltr = coded.charAt(i)
                        link += (ltr)
                      }
                      else {
                        ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                        link += (key.charAt(ltr))
                      }
                    }
                  document.write('<a href="mailto:'+link+'" class="wow fadeInUp" data-wow-delay=".6s">')
                  }
                  //-->
                  </script>
                    <i class="fas fa-envelope"></i>
                  </a></li>
                <li><div title="Telegram">
                    <a href="https://t.me/paco_queen" class="wow fadeInUp" data-wow-delay=".7s" target="_blank"><i class="fab fa-telegram"></i></a>
                  </div>
                </li>
                <li><div title="Twitter">
                    <a href="https://twitter.com/dospuntoswq" class="wow fadeInUp" data-wow-delay=".8s" target="_blank"><i class="fab fa-twitter-square"></i></a>
                  </div>
                </li>
                <li><div title="YouTube">
                    <a href="https://www.youtube.com/c/FranciscoJoséRodríguezBogado" class="wow fadeInUp" data-wow-delay=".9s" target="_blank"><i class="fab fa-youtube-square"></i></a>
                  </div>
                </li>
              </ul>
              <ul class="social-links">
                <li><div title="My old web"><a href="{% static 'mainpage/oldweb/index.html' %}"><i class="fas fa-file-code"></i></a></div></li>
                <li><div title="My even older web"><a href="{% static 'mainpage/olderweb/index.html' %}"><i class="far fa-file-code"></i></a></div></li>
                <li><div title="My private webserver"><a href="https://chaparobo.no-ip.com"><i class="fas fa-server"></i></a></div></li>
                <li><div title="My bugtracker, Taiga"><a href="http://chaparobo.no-ip.org:8080/projects/"><i class="fas fa-tasks"></i></a></div></li>
                <li><div title="Cebos Goyi FC, fantasy league"><a href="./cebosgoyi.cf/"><i class="fas fa-futbol"></i></a></li>
                <li><div title="Turboencabulador, miArcade search tool"><a href="https://turboencabulador.gq"><i class="fas fa-gamepad"></i></a></div></li>
              <ul>
            </div>
            <div class="blockquote-wrapper">
              <div class="blockquote">
                <h1><a href="https://www.gnu.org/philosophy/fsfs/rms-essays.pdf">Free Software, <span class="quote_red">Free Society</span></a></h1>
                <!-- <h4>&mdash;Richard M. Stallman</h4> -->
                <h4>&mdash;rms</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-12 calltoaction-btn wow slideInRight" data-wow-delay=".3s">
          <a href="#contact" class="btn btn-lg">Contact</a>
        </div>

      </div><!-- .row -->
    </div><!-- .container -->
  </section>

  <!-- CallToAction end -->


  <!-- Services start -->

  <section id="services" class="pfblock pfblock-gray">
    <div class="container">
      <div class="row">
            <h2 class="pfblock-title">About</h2>
            <div class="pfblock-line"></div>

        <div class="col-sm-4">
          <div class="pfblock-header wow fadeInUp">
            <img id="myphoto" src="{% static 'mainpage/images/me.png' %}" alt="Paco" style="border-radius: 100%;filter:grayscale(30%);">
          </div>
        </div>

        <div class="col-sm-8" id="log">
          <div class="pfblock-header wow fadeInUp">
            <div class="pfblock-subtitle">
              <ol>
                <li>1986: MS-DOS (Intel 8088)</li>
                <li>1990: DR-DOS (Intel i386)</li>
                <li>1993: Windows 3.11 (Intel i486-SX)</li>
                <li>1995: Windows 95, 98SE, XP (Intel Pentium)</li>
                <li>2000: GNU/Linux Esware (AMD K6-2)</li>
                <li>2002: Debian Woody (Intel Pentium 4)</li>
                <li>2003: <em>Python</em></li>
              </ol>
              <a href="{% static 'mainpage/resume/resume.html' %}" target="_blank" id="resume-effect"><i class="fas fa-3x fa-terminal" aria-hidden="true"></i> Curriculum Vitae</a> <a href="{% static 'mainpage/resume/resume.html' %}" target="_blank" id="resume-effect">(versión en español)</a>.
            </div>
          </div>
        </div>

    </div><!-- .container -->

    <div class="skills col-xs-12">
        <h2 class="pfblock-title">Skills</h2>
        <div class="pfblock-line"></div>

        <div class="row">
          <div  class="devicon-linux-plain col-xs-15"><span>GNU/Linux</span></div>
          <div  class="devicon-debian-plain col-xs-15"><span>Debian</span></div>
          <div  class="devicon-ubuntu-plain col-xs-15"><span>Ubuntu</span></div>
          <div  class="devicon-vim-plain col-xs-15"><span>Vim</span></div>
          <div  class="devicon-bash-plain col-xs-15"><span>sh</span></div>
          <div  class="devicon-git-plain col-xs-15"><span>Git</span></div>

          <div  class="devicon-python-plain col-xs-15"><span>Python</span></div>
          <div  class="devicon-django-plain col-xs-15"><span>Django</span></div>
          <div  class="devicon-flask-plain col-xs-15"><span>Flask</span></div>

          <div  class="devicon-postgresql-plain col-xs-15"><span>PostgreSQL</span></div>
        </div>

        <div class="row">
          <div  class="devicon-mysql-plain col-xs-15"><span>MySQL</span></div>

          <div  class="devicon-c-plain col-xs-15"><span>C</span></div>
          <div  class="devicon-cplusplus-plain col-xs-15"><span>C++</span></div>

          <div  class="devicon-php-plain col-xs-15"><span>PHP</span></div>
          <div  class="devicon-wordpress-plain col-xs-15"><span>WordPress</span></div>
          <div  class="devicon-woocommerce-plain col-xs-15"><span>WooCommerce</span></div>

          <div  class="devicon-html5-plain col-xs-15"><span>HTML5</span></div>
          <div  class="devicon-css3-plain col-xs-15"><span>CSS</span></div>
          <div  class="devicon-javascript-plain col-xs-15"><span>JavaScript</span></div>
          <div  class="devicon-nodejs-plain col-xs-15"><span>NodeJS</span></div>
        </div>

        <div class="row" style="display:flex">
          <div  class="devicon col-xs-15"><img id="arduino_logo" src="{% static 'mainpage/images/arduino.svg' %}" alt="Arduino logo" style="height:80px"><span>Arduino</span></div>
          <div  class="devicon col-xs-15"><img id="raspberry_logo" src="{% static 'mainpage/images/raspberry.png' %}" alt="Raspberry Pi logo" style="height:80px"><span>Raspberry Pi</span></div>
        </div>

      </div>
    </div>
  </section>

  <!-- Services end -->


  <!-- Portfolio start -->

  <section id="portfolio" class="pfblock">
    <div class="container">
      <div class="row">

        <div class="col-sm-6 col-sm-offset-3">

          <div class="pfblock-header wow fadeInUp">
            <h2 class="pfblock-title">Stuff</h2>
            <div class="pfblock-line"></div>
            <div class="pfblock-subtitle">

            </div>
          </div>

        </div>

      </div><!-- .row -->

      <div class="row">
        {% for project in list_projects|dictsortreversed:"pub_date"|slice:":30" %}
          <div class="card col-xs-12 col-sm-5 col-md-5">
              <div class="grid wow zoomIn">

                <figure class="effect-bubba"><a href="{{ project.url }}" target="_blank">
                  {% with 'mainpage/images/'|add:project.img_name as image_static %}
                      <img class="card-img-top" src="{% static image_static %}"></a>
                  {% endwith %}
                </figure>

                <div class="card-block">
                  <h2 class="card-title">{{ project.title }}</h2>
                  <h3 class="card-year">{{ project.pub_date.year }}</h3>
                  <p class="card-text">{{ project.description }}</p>
                  <div class="tools">
                    {% for tool in project.tools.split %}
                      <span>{{ tool }}</span>
                    {% endfor %}
                  </div>
                </div>

              </div>
            </div>
          {% endfor %}
        </div>
    </div><!-- .contaier -->

  </section>

  <!-- Portfolio end -->


  <!-- Badges start  -->
  <section id="badges" class="pfblock pfblock-gray">
    <div class="container">
      <div class="skills col-xs-12">
        <h2 class="pfblock-title">Badges</h2>
        <div class="pfblock-line"></div>

        <div class="row" style="display:flex">
          {% load badges_filters %}
          {% for badge in badges|subset:0 %}
            <div class="devicon col-xs-15"><a href={{ badge.link }}><img src="{% static 'mainpage/images/badges' %}/{{ badge.img|basename }}" alt="{{ badge.description }}" width=80px height=80px> <span>{{ badge.name }}</span></a></div>
          {% endfor %}

        </div>

        <div class="row">
          {% for badge in badges|subset:1 %}
            <div class="devicon col-xs-15"><a href={{ badge.link }}><img src="{% static 'mainpage/images/badges' %}/{{ badge.img|basename }}" alt="{{ badge.description }}" width=80px height=80px> <span>{{ badge.name }}</span></a></div>
          {% endfor %}
        </div>

      </div>
    </div>
  </section>
  <!-- Badges end    -->

  <!-- Contact start -->

  <section id="contact" class="pfblock">
    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">

        <div class="pfblock-header">
          <h2 class="pfblock-title">Contact</h2>
          <div class="pfblock-line"></div>
          <div class="pfblock-subtitle">
            Need to contact me? Use the form below.
          </div>
        </div>

      </div>

    </div><!-- .row -->

    <div class="row">

      <div class="col-sm-6 col-sm-offset-3">
        {% include 'mainpage/contact_form.html' %}
      </div><!-- .row -->

    </div><!-- .container -->
  </section>

  <!-- Contact end -->

  <!-- Footer start -->

  <footer id="footer">
    <div class="container">

      <img id="logo" src="{% static 'mainpage/images/logo_qinn.png' %}" alt="Q-INN" style="border-radius: 13%; margin-bottom: 2em;">

      <div class="row">
        <div class="col-sm-12">
          <ul class="social-links">
            <!-- Y paginación en los proyectos. O estrella o mostrar/ocultar en admin -->

            <li><a href="https://www.linkedin.com/in/pqinn/" class="wow fadeInUp" data-wow-delay=".1s" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://github.com/pacoqueen" class="wow fadeInUp" data-wow-delay=".2s" target="_blank"><i class="fab fa-github"></i></a></li>
            <li><a href="https://gitlab.com/pacoqueen" class="wow fadeInUp" data-wow-delay=".3s" target="_blank"><i class="fab fa-gitlab"></i></a></li>
            <li><a href="https://git.drupalistas.com/Paco" class="wow fadeInUp" data-wow-delay=".4s" target="_blank"><i class="fab fa-gitlab"></i></a></li>
            <li><a href="https://sourceforge.net/u/pacoqueen/profile/" class="wow fadeInUp" data-wow-delay=".5s" target="_blank"><i class="fas fa-code-branch"></i></a></li>
            <li>
              <script type="text/javascript" language="javascript">
              <!--
              // Email obfuscator script 2.1 by Tim Williams, University of Arizona
              // Random encryption key feature coded by Andrew Moulden
              // This code is freeware provided these four comment lines remain intact
              // A wizard to generate this code is at http://www.jottings.com/obfuscator/
              { coded = "zn4WKn@wcbb.mt"
                key = "kSToV4pcaDHQPv3srnxZA2WUe6G7dtqbhJOC0fmBNyKMwzuEFLRl8g5iXIY91j"
                shift=coded.length
                link=""
                for (i=0; i<coded.length; i++) {
                  if (key.indexOf(coded.charAt(i))==-1) {
                    ltr = coded.charAt(i)
                    link += (ltr)
                  }
                  else {
                    ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                    link += (key.charAt(ltr))
                  }
                }
              document.write('<a href="mailto:'+link+'" class="wow fadeInUp" data-wow-delay=".6s">')
              }
              //-->
              </script>
                <i class="fas fa-envelope"></i>
              </a></li>
            <li><a href="https://t.me/paco_queen" class="wow fadeInUp" data-wow-delay=".7s" target="_blank"><i class="fab fa-telegram"></i></a></li>
          </ul>

          <p class="copyright">Made with <span id="heart">♥</span> in Huelva, Spain. <span class="copyleft">&copy;</span> {% now 'Y' %}</p>

          <p class="thanks">Thanks to <a href="https://github.com/vladislavalerievich/Django-personal-website">Vlad Moroshan</a> whose project inspired this website and is forked from.</p>
          <p><a href="admin/"><i class="fas fa-user-lock"></i></a></p>
          <p style="font-size: xx-large; margin: 0px"><a href="cpanel/"><i class="fab fa-cpanel"></i></a></p>
        </div>

      </div><!-- .row -->
    </div><!-- .container -->
  </footer>

  <!-- Footer end -->


  <!-- Javascript files -->

  <script src="{% static 'mainpage/js/jquery-1.11.1.min.js' %}"></script>
  <script src="{% static 'mainpage/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'mainpage/js/jquery.parallax-1.1.3.js' %}"></script>
  <script src="{% static 'mainpage/js/imagesloaded.pkgd.js' %}"></script>
  <script src="{% static 'mainpage/js/jquery.sticky.js' %}"></script>
  <script src="{% static 'mainpage/js/smoothscroll.js' %}"></script>
  <script src="{% static 'mainpage/js/wow.min.js' %}"></script>
  <script src="{% static 'mainpage/js/waypoints.min.js' %}"></script>
  <script src="{% static 'mainpage/js/jquery.cbpQTRotator.js' %}"></script>
  <script src="{% static 'mainpage/js/custom.js' %}"></script>

</body>
</html>
